<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [ 
<!ELEMENT About ANY>
<!ATTLIST About id ID #REQUIRED>
<!ELEMENT Clients ANY>
<!ATTLIST Clients id ID #REQUIRED>
<!ELEMENT Home ANY>
<!ATTLIST Home id ID #REQUIRED>
<!ELEMENT OurClients ANY>
<!ATTLIST OurClients id ID #REQUIRED>
<!ELEMENT Quote ANY>
<!ATTLIST Quote id ID #REQUIRED>
<!ELEMENT Root ANY>
<!ATTLIST Root id ID #REQUIRED>

]>
<root id="-1">
  <Root id="1100" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2015-09-05T16:50:55" updateDate="2015-09-05T20:33:35" nodeName="En" urlName="en" path="-1,1100" isDoc="" nodeType="1098" creatorName="Chris Thomas" writerName="admin" writerID="1" template="1112" nodeTypeAlias="Root">
    <Home id="1101" parentID="1100" level="2" creatorID="0" sortOrder="0" createDate="2015-09-05T16:51:20" updateDate="2015-09-05T20:16:58" nodeName="Home" urlName="home" path="-1,1100,1101" isDoc="" nodeType="1099" creatorName="Chris Thomas" writerName="admin" writerID="1" template="1096" nodeTypeAlias="Home">
      <box1><![CDATA[We cover all aspects of roofing and building work. Click to see full list]]></box1>
      <box2><![CDATA[Why not get a Quote today. Did I mention it was FREE!]]></box2>
      <box3><![CDATA[If your still unsure, why not see what our clients say about us]]></box3>
      <bannerHeading><![CDATA[Welcome to CDT Roofing]]></bannerHeading>
      <bannerText><![CDATA[With over 40 years experience, why not get a quote today!]]></bannerText>
      <buttonText><![CDATA[Get A Quote]]></buttonText>
    </Home>
    <About id="1109" parentID="1100" level="2" creatorID="1" sortOrder="1" createDate="2015-09-05T20:29:29" updateDate="2015-09-05T23:30:44" nodeName="About" urlName="about" path="-1,1100,1109" isDoc="" nodeType="1103" creatorName="admin" writerName="admin" writerID="1" template="1106" nodeTypeAlias="About">
      <heading><![CDATA[About Us]]></heading>
      <contentHeading><![CDATA[We cover all aspects of roofing and building work, including the following:]]></contentHeading>
      <content><![CDATA[Flat Roofing ( Felt )
Fiberglass Roofing
Boarding
Tiling
Slating
Sheeting
Polycarbonate
Chimneys
Lead Work
Gutters / Down Pipes
All UPVC Work ( i.e. Fascias, Soffits, Bargeboards)
All Aspects of General Building Work ( i.e. Rendering - Plastering - Brickwork - Block Work)
All Interior Work ( i.e. Ceilings - Walls - Carpentry - Electrical - Plumbing)]]></content>
      <headingText><![CDATA[CDT Roofing is a family run business which prides itself on providing a professional service at the highest quality. We offer a wide area of expertise and guarantee an excellent finish on all completed work]]></headingText>
    </About>
    <Quote id="1111" parentID="1100" level="2" creatorID="1" sortOrder="3" createDate="2015-09-05T20:29:51" updateDate="2015-09-05T20:29:51" nodeName="Quote" urlName="quote" path="-1,1100,1111" isDoc="" nodeType="1104" creatorName="admin" writerName="admin" writerID="1" template="1107" nodeTypeAlias="Quote" />
    <OurClients id="1115" parentID="1100" level="2" creatorID="1" sortOrder="3" createDate="2015-09-05T23:42:37" updateDate="2015-09-05T23:48:45" nodeName="Our Clients" urlName="our-clients" path="-1,1100,1115" isDoc="" nodeType="1105" creatorName="admin" writerName="admin" writerID="1" template="1108" nodeTypeAlias="OurClients">
      <heading><![CDATA[Our Clients]]></heading>
      <headingText><![CDATA[We pride ourselves in offering a highly personalised approach that puts our customers first. Our service is always professional but friendly. We understand how invasive residential projects can be to you and your family and we always endeavour to work around your requirements and to keep the site as tidy as possible. Below you can see the testimonials from some of our previous clients:]]></headingText>
      <Clients id="1117" parentID="1115" level="3" creatorID="1" sortOrder="0" createDate="2015-09-05T23:44:13" updateDate="2015-09-05T23:57:06" nodeName="John" urlName="john" path="-1,1100,1115,1117" isDoc="" nodeType="1116" creatorName="admin" writerName="admin" writerID="1" template="0" nodeTypeAlias="Clients">
        <heading><![CDATA[Bargoed]]></heading>
        <headingText><![CDATA[It is with great pleasure I provide this letter of recommendation to Chris Thomas Roofing Contractors and their owner Chris Thomas. Further to contacting Chris and four other roofing contractors for an estimate on my property which I knew was going to be a considerable project I found Chris polite, approachable and pleasant to deal with . 

On receiving an estimate from him I was also assured that the work would be carefully planned to enable my family and I to live at the property with minimum disruption to our busy daily lives. I was also provided with a complete break down of the material and labour costs all of which would come with a ten year guarantee.

 Throughout the course of the work taking place I found Mr Thomas a consummate professional. He was accurate with his initial assessment and estimate whilst also providing unprompted updates on a frequent basis as the job progressed. 

In addition Chris and his team kept the workplace clean and tidy not leaving it in disarray overnight or during the weekend.

 My wife and I were anxious not to make a mistake with our choice of tradesmen but were more than pleased with our end result and would certainly recommend Mr Thomas to any prospective customers in the future.

        Yours sincerely,
        J.Doubler]]></headingText>
      </Clients>
    </OurClients>
  </Root>
</root>